In [1]:
import numpy as np
import pandas as pd
!pip install mlxtend
!pip install pyfpgrowth
import pyfpgrowth
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.0.1)
Collecting pyfpgrowth
  Downloading pyfpgrowth-1.0.tar.gz (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.2 MB/s
Building wheels for collected packages: pyfpgrowth
  Building wheel for pyfpgrowth (setup.py) ... done
  Created wheel for pyfpgrowth: filename=pyfpgrowth-1.0-py2.py3-none-any.whl size=5504 sha256=7e4d5c58931efb3cc36a9487aeeee5aac82923afd17ba5820f927c3e8108f4a1
  Stored in directory: /root/.cache/pip/wheels/73/97/4b/f12ac994f6bbb99597396255435824c73ad3916be1e678be55
Successfully built pyfpgrowth
Installing collected packages: pyfpgrowth
Successfully installed pyfpgrowth-1.0

In [2]:
dataset = pd.read_csv('jakarta.csv', header=None)
dataset.head()

         0            1        2   ...        16            17             18
0      date  odp_process  odp_end  ...  deceased  hospitalized  self_isolated
1  3/1/2020           14      115  ...       NaN           NaN            NaN
2  3/2/2020           14      115  ...       NaN           NaN            NaN
3  3/3/2020           94      121  ...       NaN           NaN            NaN
4  3/4/2020          120      121  ...       NaN           NaN            NaN

[5 rows x 19 columns]

In [3]:
transactions = []
for sublist in dataset.values.tolist():
    clean_sublist = [item for item in sublist if item is not np.nan]
    transactions.append(clean_sublist)
patterns = pyfpgrowth.find_frequent_patterns(transactions,2)

rules = pyfpgrowth.find_frequent_patterns(patterns,6)

print(patterns)
print(rules)

{('14',): 2, ('14', '30'): 2, ('115',): 2, ('115', '14'): 2, ('115', '30'): 2, ('115', '14', '30'): 2, ('129',): 2, ('115', '129'): 2, ('129', '14'): 2, ('129', '30'): 2, ('115', '129', '14'): 2, ('115', '129', '30'): 2, ('129', '14', '30'): 2, ('115', '129', '14', '30'): 2, ('9',): 2, ('129', '9'): 2, ('115', '9'): 2, ('14', '9'): 2, ('30', '9'): 2, ('115', '129', '9'): 2, ('129', '14', '9'): 2, ('129', '30', '9'): 2, ('115', '14', '9'): 2, ('115', '30', '9'): 2, ('14', '30', '9'): 2, ('115', '129', '14', '9'): 2, ('115', '129', '30', '9'): 2, ('129', '14', '30', '9'): 2, ('115', '14', '30', '9'): 2, ('115', '129', '14', '30', '9'): 2, ('39',): 2, ('39', '9'): 2, ('129', '39'): 2, ('115', '39'): 2, ('14', '39'): 2, ('30', '39'): 2, ('129', '39', '9'): 2, ('115', '39', '9'): 2, ('14', '39', '9'): 2, ('30', '39', '9'): 2, ('115', '129', '39'): 2, ('129', '14', '39'): 2, ('129', '30', '39'): 2, ('115', '14', '39'): 2, ('115', '30', '39'): 2, ('14', '30', '39'): 2, ('115', '129', '39', '9'): 2, ('129', '14', '39', '9'): 2, ('129', '30', '39', '9'): 2, ('115', '14', '39', '9'): 2, ('115', '30', '39', '9'): 2, ('14', '30', '39', '9'): 2, ('115', '129', '14', '39'): 2, ('115', '129', '30', '39'): 2, ('129', '14', '30', '39'): 2, ('115', '14', '30', '39'): 2, ('115', '129', '14', '39', '9'): 2, ('115', '129', '30', '39', '9'): 2, ('129', '14', '30', '39', '9'): 2, ('115', '14', '30', '39', '9'): 2, ('115', '129', '14', '30', '39'): 2, ('115', '129', '14', '30', '39', '9'): 2, ('94',): 2, ('121',): 2, ('121', '30'): 2, ('215',): 2, ('54',): 2, ('54', '94'): 2, ('120',): 2, ('127',): 2, ('267',): 2, ('49',): 2, ('307', '49'): 2, ('83',): 2, ('44', '83'): 2, ('98',): 2, ('70',): 2, ('486',): 2, ('862',): 2, ('374', '862'): 2, ('194',): 2, ('194', '862'): 2, ('194', '374'): 2, ('194', '374', '862'): 2, ('180',): 2, ('180', '194'): 2, ('180', '862'): 2, ('180', '374'): 2, ('180', '194', '862'): 2, ('180', '194', '374'): 2, ('180', '374', '862'): 2, ('180', '194', '374', '862'): 2, ('463',): 2, ('307',): 2, ('44',): 3, ('374',): 3, ('30',): 4}
{('862',): 8, ('374',): 8, ('194',): 8, ('180',): 8, ('115', '14', '30'): 8, ('129', '14', '30'): 8, ('115', '14'): 16, ('115', '129', '14'): 8, ('129', '14'): 16, ('115',): 32, ('115', '30'): 16, ('115', '129'): 16, ('129', '30'): 16, ('115', '129', '30'): 8, ('129', '14', '9'): 8, ('129', '39', '9'): 8, ('115', '129', '9'): 8, ('115', '14', '9'): 8, ('115', '39', '9'): 8, ('14', '9'): 16, ('14', '39', '9'): 8, ('129', '30', '9'): 8, ('115', '30', '9'): 8, ('14', '30', '9'): 8, ('30', '39', '9'): 8, ('39', '9'): 16, ('129', '39'): 16, ('129', '14', '39'): 8, ('115', '129', '39'): 8, ('115', '14', '39'): 8, ('14', '39'): 16, ('129', '30', '39'): 8, ('115', '30', '39'): 8, ('14', '30', '39'): 8, ('30',): 33}